*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    
    font-family: sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    padding: 35px 15px;
  }

  .options {
      max-width: 148px;
      text-align: center;
  }

.image {
    max-width: 20%;
    max-height: 20%;
    vertical-align: middle;
}

.description {
    font-weight: 500;
    font-size: 16px;
}

.btn {
    position: relative;
    margin-top: 15px;
    display: inline-block;
    background-color: #F13C6E;
    padding: 10px 28px;
    border-radius: 30px;
    line-height: 1.5;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
  }